.root {
  &[data-variant="icon"] {
    background-color: var(--mantine-color-red-9);
    color: var(--mantine-color-red-0);
    width: 40px; /* Set your desired button width */
    height: 40px; /* Set your desired button height */
    display: flex; /* Center the icon */
    justify-content: center; /* Center the icon */
    align-items: center;
  }

  &[data-variant="primary"] {
    background: linear-gradient(45deg, #4b6cb7 10%, #253b67 90%);
    color: var(--mantine-color-white);
    border-width: 0;
  }
}
